@charset "UTF-8";

h2 {
  padding-top: 3rem;
}

p {
 
  padding: 1rem;
  box-sizing: border-box;
  font-weight: bold;
}

.fade {
  opacity: 0;
}

.color {
  background-color: rgb(43, 255, 0);
}

.line {
  background-color: #00e975;
  width: 0;
}

.slide-in {
  opacity: 0;
}